<div class="main-container">
  <div class="content-container">
    <div class="upload-file">
      upload-file
      <input
        type="file"
        id="input"
        (change)="onFileChangeClicked($event)"
        multiple
      />
    </div>
    <div class="excel-data">
      excel-data<br />

      <!--excel data-->
      <label>Choose a title:</label><br />

      <p class="opt-tag" *ngFor="let opt of this.excelKeys">
        {{ opt }}
      </p>
      <br />
    </div>
    <div class="mongodb-mapping">
      mongodb-mapping<br />

      <!--mongodb schema names-->
      <label>Choose a title:</label><br />
      <select
        #schema
        *ngFor="let count of this.excelKeys; let i = index"
        (change)="schemaFun(i, schema.value)"
      >
        <option value="null">select a value</option>
        <option class="opt-tag" *ngFor="let name of DbSchemaNames">
          {{ name }}
        </option>
        <br />
      </select>
    </div>
  </div>
  <input type="submit" (click)="onSubmitClicked()" />
</div>

<div></div>
