<div class="main-container">
  <div class="content-container">
    <div class="upload-file">
      upload-file
      <input
        type="file"
        id="input"
        (change)="onChangeUploadInput($event)"
        multiple
      />
    </div>
    <div class="excel-data">
      excel-data

      <label>Choose a title:</label>
      <select name="title" id="title">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
    </div>
    <div class="mongodb-mapping">
      mongodb-mapping
      <p>Company Name</p>
      <p>Employee ID</p>
      <p>Employee Name</p>
      <p>Mobile</p>
      <p>Email</p>
      <p>CoWin Reference ID</p>
      <p>Registered Mobile Number</p>
      <p>Dose</p>
      <p>Dependent</p>
      <p>Beneficiary Mobile</p>
      <p>Preferred Date</p>
      <p>Preferred Time</p>
      <p>Vaccine Name</p>
      <p>Venue</p>
    </div>
  </div>
</div>
